@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

html{
    scroll-behavior: smooth;
}


* {
    padding: 0;
    margin: 0;
    font-family:'Raleway', sans-serif;
}
body {
    background-color: #1F1F33;
}

/*Navegação*/
nav  {
    padding: 5vh;
}
.links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}
.link {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 20px;
    transition: all ease 0.5s;
}
.link::after {
    content: " ";
    width: 0%;
    height: 0.1px;
    background-color: #6883BA;
    display: flex;
    transition: 0.5s ease-in-out;
}
.link:hover::after {
    width: 115%;
}

/*Páinel central "Olá Mundo!"*/
header {
    width: 100%;
    height: 85vh;
    display: flex;
    color: white;
    justify-content: center;
}
header .info h1 {
    font-size: 5rem;
    font-weight: 500;
}
header .info h3 {
    font-size: 1.5rem;
}
.nome {
    text-decoration: none;
    border-radius: 50px;
}
.nome :hover {
    font-size: 4rem;
    margin: 5px;
    border-radius: 50px;
}
.info {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
} 
.blur {
    position: absolute;
    box-shadow: 0 0 1000px 60px #1d4ed8;
    z-index: -100;
    transform: translate(-20rem, 0);
}
header span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px white;
    font-size: 3rem;
    transition: all ease 1s;
}

/*Sobre mim aqui*/
/*article {
    width: 100%;
}
article .astronauta {
    position: absolute;
    z-index: -1;
}*/
section {
    padding: auto;
    margin: auto;
    margin-bottom: 200px;
    width: auto;
    max-width: 800px;
    height: 85vh;
    padding: 0px 50px;
    box-shadow: 0px 5px 10px #18182d;
    border-radius: 10px;
}
section h1 {
    display: flex;
    font-size: 3.5rem;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    justify-content: center;
    color: white;
    padding: 20px;
}
section h2 {
    display: flex;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;

}
section p{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 30px 30px;
    
}
.sobre {
    text-indent: 0.7em;
    margin: 0.4rem;

}
/*Projetos*/
main {
    width: 100%;
    height: 100%;
}
main h1 {
    display: flex;
    margin: 50px;
    font-size: 3.5rem;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    justify-content: center;
    color: white;
}
main .projeto {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: auto;
    max-width: 1050px;
    padding: 0px 50px;
    border-radius: 10px;
}
main .projeto ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
main .projeto li {
    padding: 10%;
    background-color: #fff;
    margin: 30px;
    padding: 30px 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
}
main .projeto a {
    text-decoration: none;
    display: block;
    color: #1F1F33;
}
main .projeto h2 {
    margin: 0px 0px 0px 3px;
    box-shadow: inset 0px 0px 5px #c2c2c2;
}
main .projeto h2 i {
    font-size: 15px;
}
main .projeto p {
    margin: 3px 0px 3px 0px;
    font-weight: bolder;
    max-width: 400px;
    padding-top: 5px;
}


/*Rodapé com os contatos*/
footer {
    width: auto;
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff95;
}

.containerContato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerContato a {
    font-size: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    transition: all ease 1s;
}
.containerContato .gmail:hover {
    filter: drop-shadow(0 0 10px #e32b2b);
    transform: rotate(30deg) ;
}
.containerContato .instagram:hover {
    filter: drop-shadow(0 0 10px #e32be3);
    transform: rotate(30deg) ;
}
.containerContato .whatsapp:hover {
    filter: drop-shadow(0 0 20px #00ff00);
    transform: rotate(30deg) ;
}
.containerContato .linkedin:hover {
    filter: drop-shadow(0 0 20px #0000ff);
    transform: rotate(30deg) ;
}
.containerContato .github:hover {
    filter: drop-shadow(0 0 20px #0F0326);
    transform: rotate(30deg) ;
}

/*Ajuste @media*/

@media screen and (max-width: 1045px){
    main .projeto {
        display: block;
    }
    main {
        height: 100%;
        width: 100%;
    }
    article .astronauta {
        position:absolute;
        top: 500px;
        left: 30px;
    }


}
@media screen and (max-height: 500px){
    main .projeto {
        display: block;
    }
    main {
        height: 100%;
        width: 100%;
    }
    main .icon a {
        width: 100%;
        height: 100%;
    }
    article .astronauta {
        position:absolute;

    }

}
